html, body {
    background-color: black;
    color: green;
    font-size: 12pt;
    font-family: "Lucida Console", Monaco, monospace;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

@-webkit-keyframes blink {
    from, to { background-color: transparent }
    50% { background-color: #0F0 }
}

@-moz-keyframes blink {
    from, to { background-color: transparent }
    50% { bacground-color: #0F0 }
}

.cursor {
    display: inline-block;
    position: relative;
    top: 0.2em;
    width:0.6em;
    height:1em;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
}
.shell {
    color: #0F0 !important;
}

/* --- Prettify --- */
pre.prettyprint .nocode { color: #000 }
pre.prettyprint .str { color: #080 } /* string          */
pre.prettyprint .kwd { color: #008 } /* keyword         */
pre.prettyprint .com { color: #800 } /* comment         */
pre.prettyprint .typ { color: #606 } /* type            */
pre.prettyprint .lit { color: #066 } /* literal         */
pre.prettyprint .pun { color: #660 } /* punctuation     */
pre.prettyprint .pln { color: #000 } /* plaintext       */
pre.prettyprint .tag { color: #008 } /* html/xml tag    */
pre.prettyprint .atn { color: #606 } /* attribute name  */
pre.prettyprint .atv { color: #080 } /* attribute value */
pre.prettyprint .dec { color: #606 } /* decimal         */
pre.prettyprint .var { color: #606 } /* variable name   */
pre.prettyprint .fun { color: #F00 } /* function name   */


pre.prettyprint .str {    color: #EC7600; }
pre.prettyprint .kwd {    color: #93C763; }
pre.prettyprint .com {    color: #66747B; }
pre.prettyprint .typ {    color: #678CB1; }
pre.prettyprint .lit {    color: #FACD22; }
pre.prettyprint .pun {    color: #F1F2F3; }
pre.prettyprint .pln {    color: #F1F2F3; }
pre.prettyprint .tag {    color: #8AC763; }
pre.prettyprint .atn {    color: #E0E2E4; }
pre.prettyprint .atv {    color: #EC7600; }
pre.prettyprint .dec {    color: purple; }


ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
pre.prettyprint, code.prettyprint {
    width: 95%;
    margin: auto;
    padding: 1em;
    text-align: left;           /* override justify on body */
    goverflow: auto;             /* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
    white-space: pre;        /* was nowrap, prevent line wrapping */
}


