syntax: glob
etc
local
mail
.hgrc
.bash_history
.ftpquota
.ssh
public_html/xampp*
public_html/wordpress
backup/backups
anonymous
apache
apache_start.bat
apache_stop.bat
cgi-bin
check-for-hack.py
error_log
FileZillaFTP
filezilla_start.bat
filezilla_stop.bat
install
licenses
MercuryMail
mercury_start.bat
mercury_stop.bat
mysql
mysql_start.bat
mysql_stop.bat
passwords.txt
perl
php
phpMyAdmin
readme_de.txt
readme_en.txt
security
sendmail
setup_xampp.bat
tmp
uninstall_xampp.bat
webalizer
webdav
xampp-changes.txt
xampp-control.exe
xampp-portcheck.exe
xampp_cli.exe
xampp_restart.exe
xampp_service_mercury.exe
xampp_shell.bat
xampp_start.exe
xampp_stop.exe
public_html/forum/avatars/error_log
public_html/forum/error_log

.bash_logout
.bash_profile
.bashrc
.canna
.contactemail
.cpanel
.emacs
.gemrc
.ssh/known_hosts
.zshrc
.dns
.viminfo

access-logs
backup/backup.sql.gz
tmp
www
public_html/temp

Thumbs.db
thumbs.db
*~
.DS_Store
*.orig

